.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 1.5rem;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  z-index: 9999;
  background-color: var(--background-color-solid-0);
  border-bottom: 0.085rem solid var(--diver-color-solid-0);
}

.navbar > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.navbar > ul > li {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: auto;
  max-width: auto;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbar > ul > li > span {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: auto;
  max-width: auto;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navbar > ul > li > .headline {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: auto;
  max-width: auto;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
}

.navbar > ul > li > .headline > h5 {
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar > ul > li > .headline > p {
  font-size: 0.85rem;
  font-weight: 400;
}

.navbar > ul > li > button {
  position: relative;
  font-size: 0.85rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--text-color-solid-0);
  background-color: var(--background-color-solid-0);
  border: 0.1rem solid var(--diver-color-solid-0);
  border-radius: var(--border-radius-md);
}

.navbar > ul > li > button {
  background-color: var(--background-color-solid-0);
  color: var(--text-color-solid-0);
}

.navbar > ul > li > button:hover {
  color: var(--text-color-solid-0);
  background-color: var(--background-color-solid-50);
  border: 0.1rem solid var(--diver-color-solid-0);
  border-radius: var(--border-radius-md);
}

.newTaskButton {
  position: relative;
  font-size: 0.85rem;
  font-weight: 600;
  gap: 0.5rem;
  background-color: var(--primary-color) !important;
  color: rgb(255, 255, 255) !important;
}

.cancelButton {
  position: relative;
  font-size: 0.85rem;
  font-weight: 600;
  gap: 0.5rem;
  background-color: var(--danger-color) !important;
  color: rgb(255, 255, 255) !important;
}

.cancelButton:hover {
  background-color: var(--danger-color);
}

.navbar > form {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.navbar > form > input {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  border-radius: var(--border-radius-md);
}

.selectmenu {
  display: none;
}

.selectmenu.active {
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  height: auto;
  min-height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--background-color-solid-0);
  border: 0.1rem solid var(--diver-color-solid-0);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.selectmenu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.selectmenu > ul > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  border-bottom: 0.1rem solid var(--diver-color-solid-0);
  background-color: var(--background-color-solid-0);
}

.selectmenu > ul > li:hover {
  background-color: var(--background-color-solid-150);
}

.selectmenu > ul > li:last-child {
  border-bottom: none;
}

.selectmenu > ul > li > a {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0.85rem;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
}
